.cards{
    width: calc(33.333% - 20px); /* Cada card ocupará cerca de 1/3 da largura do contêiner, menos o espaço de margem */
    margin: 10px; /* Adiciona espaço ao redor de cada card */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    transition: transform 0.2s; /* Adiciona uma transição suave ao hover */
}
.cards_img {
    width: 100%;
    height: 200px; /* Altura fixa */
    object-fit: cover; /* Recorta a imagem para preencher o container */
}
.container{
    display: flex;
    justify-content: space-around; /* Distribui os cards igualmente com espaço entre eles */
    flex-wrap: wrap; /* Permite que os cards sejam quebrados em várias linhas, se necessário */
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 20px; /* Adiciona um pouco de espaço ao redor do contêiner */
    max-width: 1200px; /* Define uma largura máxima para o contêiner */
}