{% extends 'jogos/partials/_base.html' %}
{% load static %}
{% block content %}
{% include 'jogos/partials/_menu.html' %}

<div class="container text-center d-flex p-2">
    <div class="row align-items-center">
        {% for jogos in cards %}
        <div class="col">
            <div class="card mb-3" style="width: 18rem;">
                {% if jogos.imagem %}
                <img class="object-fit-cover rounded-top c_card-img-top" src="{{ jogos.imagem.url }}" alt="{{jogos.nome}}">
                {% else %}
                <img class="object-fit-cover rounded-top c_card-img-top " src="{% static 'images/default.jpg' %}" alt="Imagem Padrão">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{jogos.nome}}</h5>
                    <p class="card-text">
                        {{jogos.plataforma}} <br> {{jogos.genero}}

                    </p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'jogos/partials/_footer.html' %}
{% endblock %}
