.c_card-img-top {
    width: 100%;
    height: 140px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem dentro do espaço definido */
}
/* CSS para os cards */
.c_cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c_card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px; /* Largura fixa para todos os cards */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.c_card-content {
    padding: 15px;
}

.c_card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Para truncar o texto */
}
